@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

:root{
    --text-color: #222;
    --logo-color: rgb(128,150,178);
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
}

.navbar {
    padding: .8rem;
}

.navbar-brand img {
    height: 2rem;
}

.navbar-nav li {
    padding-right: 1.1rem;
}

.navbar-link {
    font-size: 1.1rem;
    font-weight: 500;
}

.nav-link:hover,
.nav-link.active {
    border-bottom: .1rem solid var(--logo-color);
}

.carousel-inner img {
    width: 100%;
}

.carousel-caption {
    position: absolute;
    transform: translateY(-50%);
    top: 45%;
}

.carousel-caption h1 {
    font-size: 4.5rem;
    text-transform: uppercase;
    text-shadow: .1rem .1rem 1rem black;
}

.carousel-caption h3 {
    font-size: 3rem;
    text-shadow: .1rem .1rem .6rem black;
    padding-bottom: 1rem;
}

.btn {
    font-weight: 500;
    border-width: medium;
}

.jumbotron {
    padding: 1rem;
    border-radius: 0;
}

.car1   {
    width:100%; /*container-width*/
    overflow:hidden; /*hide bounds of image */
    margin:0;
    display:block;
    margin-top: -10%;
    margin-bottom: -10%;
}


.social a {
    font-size: 4rem;
    padding: 3rem;
    color: #85888C;
}

.social a:hover {
    color: #6666FF;
}

hr.border {
    width: 75%;
}

hr.socket {
    border-top: .1rem solid #D5D5D5;
    padding: .5rem;
}

footer {
    background-color: #3f3F3F;
    color: #D5D5D5;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

img {
    max-width: 100%;
}
img.portfolio-img {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: 0.2s;
}

img.portfolio-img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.4s;
}

.navCard {
}

.navCard img {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: 0.4s;
}

.navCard:hover img{
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: 0.5s;
}

.navCard p {
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: 0.5s;
}

.navCard:hover p {
    -moz-transform: scale(1) translateY(10px);
    -webkit-transform: scale(1) translateY(10px);
    transform: scale(1) translateY(10px);
    transition: 0.3s;
}

.navCard h3 {
    transition: 0.3s;
}

.navCard:hover h3 {
    -moz-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    transition: 0.3s;
}

.more-link{

}
#languageDropdown{
    align : left;
}

#conficeLogo {
    height: 12rem;
    width:300px; /*container-width*/
    overflow:hidden; /*hide bounds of image */
    margin:0;
    display:block;
    margin-top: -23%;
    margin-bottom: -23%;
}

#titleIcon {
    -moz-transform: scale(0.1);
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    overflow:hidden; /*hide bounds of image */
    margin:0;
    display:block;
    margin-right: 90%;
}
/*---Media Queries --*/

@media (max-width: 991px) {
    .carousel-caption {
        top: 42%;
    }

    .carousel-caption h1 {
        font-size: 4rem;
    }

    .carousel-caption h3 {
        font-size: 2.5rem;
    }

    .carousel-caption .btn {
        font-size: 1rem;
        padding: .6rem .9rem;
    }
    h1.display-5 {
        font-size: 2.2rem;
    }

    .social a {
        font-size: rem;
        padding: rem;
    }
}

@media (max-width: 767px) {
    .carousel-caption {
        top: 42%;
    }

    .carousel-caption h1 {
        font-size: 3.2rem;
    }

    .carousel-caption h3 {
        font-size: 1.8rem;
        font-weight: 400;
        padding-bottom: .2rem;
    }

    .carousel-caption .btn {
        font-size: .9rem;
        padding: .5rem .8rem;
    }

    h1.display-5 {
        font-size: 1.8rem;
    }
    .social a {
        font-size: 2.5rem;
        padding: 1.2rem;
    }

}

@media (max-width: 575px) {
    .carousel-caption {
        top: 39%;
    }

    .carousel-caption h1 {
        font-size: 2.2rem;
    }

    .carousel-caption h3 {
        font-size: 1.2rem;
    }

    .carousel-caption .btn {
        font-size: .8rem;
        padding: .3rem .5rem;
        border-width: thin;
    }

    .carousel-indicators {
        display: none;
    }

    h1.display-5 {
        font-size: 1.5rem;
    }

    .social a {
        font-size: 2rem;
        padding: .7rem;
    }

}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/


/*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

/*--- Fixed Background Image --*/
figure {
    position: relative;
    width: 100%;
    height: 40%;
    margin: 0 !important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed {
    background-image: url('img/bg-blu.png');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
}
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}


.form-error {
    font-size: 1rem;
    color: darkred;
    display: none;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





