body {

}
.gameWindow {
    top:0;
    left: 0;
    display: block;
}
.worldMap {
    top: 0;
    left: 0;
    position: relative;
    display: block;
}

.worldMapImg {
    top: 0;
    left: 0;
    display: block;
}
.bordered {
    border: 2px solid red;
}

.virus {
    animation: virus-appear 0.4s ease-in-out;
    animation-fill-mode: forwards;
    position: fixed;
    display: block;

}

#field{
    position: relative;
    top: 0;
    left: 0;
}
@keyframes virus-appear {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(0.15);
    }
    100% {
        transform: scale(0.1);
    }
}